/PA6-MCTest/00README.txt
/PA6-MCTest/00README-CS4242.txt
/.idea/MCTest-Reader.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/README.md
/train.0.answers.txt
/train.0.graded.txt
/.idea/vcs.xml
/.idea/workspace.xml
